@model Milestone2.Models.LoginModel

@{
    ViewBag.Title = "LoginFailure";
}

<h2>Login Failed</h2>

<div>
    <h4></h4>
    <hr />
    <h5>Provided login details did not match our records</h5>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Try again?", "Index")
</p>
