
@using Topic_5_Activity_3.Models
@model Tuple<List<CustomerModel>, CustomerModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "customerInfo",
        OnSuccess = "ajaxSuccess"
    };
}

    <script> $.post('@Url.Action("GetMoreInfo", "Customer")', { customer: 2 }, function (data) { alert(data); }); </script>

@Html.Label("Please Select a Customer")
@using (Ajax.BeginForm("OnSelectCustomer", "Customer", ajaxOptions, new { id = "myform" }))
{
    @Html.AntiForgeryToken();

    var selected = false;
    foreach (var customer in Model.Item1)
    {

        if (Model.Item2 == customer)
        {
            selected = true;
        }
        else
        {
            selected = false;
        }

        @Html.RadioButton("CustomerNumber", customer.id, selected, new { onchange = "$('#myform').trigger('submit')" })
        @Html.Label(customer.name)
        <br />
    }
    //<input type="submit" id="SubmitButton" value="Display Details" />
}


<div id="customerInfo">
    @Html.Partial("~/Views/Shared/_CustomerDetails.cshtml", Model.Item2)
</div>

