@model Milestone2.Models.LoginModel

@{
    ViewBag.Title = "LoginSuccess";
}

<h2>Login Successful</h2>

<div>
    <h4>Welcome @Model.UserName!</h4>
    <hr />
    <h5>@Html.Label("Login Information")</h5>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Logout", "Index")
</p>
